<header class="l-header">
  <ul class="header-menu">
    <li class="header-menu-item"><a href="#">Achieve</a></li>
    <li class="header-menu-item"><a href="#">トップページ</a></li>
    <li class="header-menu-item"><a href="#">お問い合わせ</a></li>
    <li class="header-menu-item"><a href="#">ブログ</a></li>
  </ul>
</header>
